<html>
    <head>
        <title>DevFlow - Login Failed</title>
        <link rel="shortcut icon" href="images/logo.ico">
    </head>
    <body style="font-family: 'helvetica';background-color: #F8F8F8;">
        <center style="margin-top:100px; background-color:white; height:40px">
            <h1 style="color:gray; margin-top:10px;">Devflow</h1>
            <img style="border-radius:5px;" src="images/logo.png" />
            <h2>Your login was unsuccessful, please verify you are an authorized user...</h2>
            <a style="text-decoration:none;" href="/"><h2>Try Again</h2></a>
        </center>
    </body>
</html>
