<section class="popup popup-edit-request">
    <header>{{isNew ? 'New': 'Edit'}} Request</header>
    <div>
        <div>
            <label>{{linkTitle}}:</label>
            <input type="text" ng-model="request.data.title" ng-class="{invalid: invalidFields.title}" ng-change="fieldChanged('title')" ng-blur="titleBlur(request.data.title)"/>
        </div>
        <div>
            <label>Description:</label>
            <textarea ng-model="request.data.desc" ng-class="{invalid: invalidFields.desc}" ng-change="fieldChanged('desc')"></textarea>
        </div>
        <div class="single-line">
            <label>{{typeTitle}}:</label>
            <select ng-disabled="additionalType" ng-model="request.data.sub_type" ng-options="requestType for requestType in requestTypes"></select>

            <a ng-if="isNew" ng-class="{used: additionalType}"><i class="fa fa-plus-circle" ng-click="addAdditionalType()"></i></a>
            <select ng-if="additionalType" ng-model="$parent.additionalType" ng-options="requestType for requestType in additionalTypes"></select>
            <a ng-if="additionalType"><i class="fa fa-times-circle" ng-click="removeAdditionalType()"></i></a>
        </div>
        <div class="single-line">
            <input-dropdown items="tags" selected-item="request.tag" display-property="'name'" label="'Tag:'"></input-dropdown>
        </div>
    </div>

    <div ng-show="shouldSquash">
        <b>What!?@</b> <br />you didn't squash & rebase your branch?
    </div>

    <div class="warning" ng-show="!mergeable">
        Warning: branch is not mergeable, please rebase to master first.
    </div>

    <a class="btn-standard" ng-click="saveRequest(request)">Save</a>
</section>
