<div>
    <a class="btn-standard" ng-click="generateToken()">Generate API Token</a>
    <div ng-if="token" style="padding-top: 20px">
        <h3>JSON WEB TOKEN</h3>
        <textarea rows="10" cols="50" ng-click="this.select()" readonly="readonly" ng-model="token"></textarea><br>
        <img src="/images/fdevflow.png"/>
        <ul>
            <li>1. Copy the API Token</li>
            <li>2. `f update` or `f pull origin master` to update f toolbelt</li>
            <li>3. `f devflow [PASTE-API-TOKEN]` - to save a token (only once)</li>
            <li>4. `f devflow` - to Take/Release/Extend plikes </li>
        </ul>

    </div>
</div>