<section class="dashboard">

    <section ng-if="showSection('pullrequests')">
        <header>Pull Requests</header>
        <ul>
            <li ng-repeat="pullrequest in pullrequests | filter: query">
                <request request-object="pullrequest" current-user="currentUser"></request>
            </li>
        </ul>
        <ul class="reviews">
            <li ng-repeat="review in pullrequestReviews">
                <review review-object="review" index="pullrequestReviews.indexOf(review) + 1"></review>
            </li>
        </ul>
    </section>

    <section ng-if="showSection('graylogs')">
        <header>Graylogs</header>
        <ul>
            <li ng-repeat="graylog in graylogs | filter: query">
               <request request-object="graylog" current-user="currentUser"></request>
            </li>
        </ul>
        <ul class="reviews">
            <li ng-repeat="review in graylogReviews">
                <review review-object="review" index="graylogReviews.indexOf(review) + 1"></review>
            </li>
        </ul>
    </section>

    <section class="section-servers" ng-if="showSection('servers')">
        <header>Servers</header>
        <ul>
            <li ng-repeat="env in serverEnvironments | filter: query" ng-if="!env.on_demand">
                <server-env env-object="env" current-user="currentUser"></server-env>
            </li>
        </ul>
    </section>

    <section class="section-links" ng-if="showSection('links')">
        <header>Useful Links</header>
        <ul>
            <li ng-repeat="link in links | filter: query">
                 <a target="_blank" ng-href="{{link.url}}" class="btn-standard">{{link.text}}</a>
            </li>
        </ul>       
    </section>

</section>

